.container-projeto{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-bottom: 50px;
}

.right {
    text-align: start;
    font-weight: 400;
    font-size: 1.4rem;
}

.desc{
    width: 250px;
}

@media (max-width: 600px) {
    .container-projeto{
        flex-direction: column;
            gap: 20px;
    }

    .container-projeto img {
        width: 300px;
    }
}
