.container-experiencia-profissional{
    text-align: center;
    padding: 30px;
    background-color: #F5F5F5;
}

.experiencias {
    padding-top: 20px;
}

@media (max-width: 600px) {
    .container-experiencia-profissional{
        flex-direction: column;
    }
}